{% extends 'registration/index.html' %}
{% block content_1 %}

{% endblock %}
{% block content %}



    <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
            <form id="login-form" method="post"
                  action="{% url 'login' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Login"
                                   class="btn btn-primary"/>
                            <input type="hidden" name="next" value="{{ next }}"/></td>

                        <td>

                            <a class="btn btn-primary" style="float: right" href="{% url 'register' %}" role="button">Register</a>

                    </tr>


                </table>
            </form>
        </div>
    </div>


{% endblock %}
