{% extends 'registration/index.html' %}

{% block content %}

    <div align="center">
        <form class='form-control' id="register-form" method="post"
              action="{% url 'register' %}">

            {% csrf_token %}
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">

                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}

                        <div class="form-group clearfix">
                            <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span
                                    class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="{{ form.password1.id_for_label }}" class="col-md-4 control-label text-right">Password<span
                                    class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.password2.id_for_label }}" class="col-md-4 control-label text-right">Confirm
                                password:</label>
                            <div class="col-md-6">
                                {{ form.password2 }}
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="{{ form.user_group.id_for_label }}" class="col-md-4 control-label text-right">User
                                Group:</label>
                            <div class="col-md-6">
                                {{ form.user_group }}
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="Register" class="btn btn-success">
                            <a class="btn btn-primary form-control" href="{% url 'login' %}" role="button">Back</a>

                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>


{% endblock %}
