

{% extends 'quizApp/base.html' %}

{% block content %}

<p><h1>Quiz Admin</h1></p>
<div class="card mx-auto">
    <div class="card-body">
        <div class="list-group">
            <ul class="list-group" style="max-height: 300px, ">
                {% for User in users_list %}
                    <table>
                        <li class = "list-group-item">
                        <li class="list-group-item">Username: {{ User.username }} <br>
                        Group: {{ User.user_group.name }}</li>
                        <button class="button left">
                            <a href="{% url 'quiz_admin' %}"

                               class="list-group-item list-group-item-action active"> Remove </a>


                        </button>
                    </li>
                    </table>

                {% empty %}
                    <li class="list-group-item">No users on this Quiz app yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

